*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  margin: 0;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, monospace;
  font-size: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
}
