:root,
.wa-light {
  --wa-color-brand-fill-loud: oklch(0.83 0.152 151.27);
  --wa-color-brand-fill-normal: oklch(0.76 0.131 151.27);
  --wa-color-brand-border-loud: oklch(0.7 0.118 151.27);
  --wa-color-brand-text-loud: oklch(0.41 0.105 158.4);
  --wa-color-brand-text-normal: oklch(0.5 0.104 158.4);

  --wa-border-radius-s: 0.2rem;
  --wa-border-radius-m: 0.35rem;
  --wa-border-radius-l: 0.45rem;

  --docs-color-divider: var(--wa-color-neutral-200);
  --docs-color-heading: color-mix(in oklab, var(--wa-color-text-normal) 48%, var(--wa-color-brand-text-normal) 92%);
  --docs-color-text-muted: var(--wa-color-neutral-700);
  --docs-color-text-quiet: var(--wa-color-neutral-600);
  --docs-color-text-loud: var(--wa-color-neutral-900);
  --docs-color-surface: var(--wa-color-neutral-0);
  --docs-color-surface-subtle: var(--wa-color-neutral-50);
  --docs-color-nav-hover-border: var(--wa-color-neutral-400);
  --docs-color-nav-active-text: var(--wa-color-brand-text-loud);
  --docs-color-nav-active-border: var(--wa-color-brand-border-loud);
  --docs-color-nav-active-bg: color-mix(in srgb, var(--wa-color-brand-fill-loud) 16%, transparent);
}

.wa-dark {
  --wa-color-brand-fill-loud: oklch(0.75 0.136 153.71);
  --wa-color-brand-fill-normal: oklch(0.69 0.122 153.71);
  --wa-color-brand-border-loud: oklch(0.65 0.108 153.71);
  --wa-color-brand-text-loud: oklch(0.85 0.128 153.71);
  --wa-color-brand-text-normal: oklch(0.78 0.113 153.71);

  --docs-color-divider: var(--wa-color-neutral-300);
  --docs-color-heading: color-mix(in oklab, var(--wa-color-text-normal) 65%, var(--wa-color-brand-text-normal) 72%);
  --docs-color-text-muted: var(--wa-color-neutral-300);
  --docs-color-text-quiet: var(--wa-color-neutral-400);
  --docs-color-text-loud: var(--wa-color-neutral-100);
  --docs-color-surface: var(--wa-color-neutral-0);
  --docs-color-surface-subtle: var(--wa-color-neutral-100);
  --docs-color-nav-hover-border: var(--wa-color-neutral-500);
  --docs-color-nav-active-text: var(--wa-color-brand-text-loud);
  --docs-color-nav-active-border: var(--wa-color-brand-border-loud);
  --docs-color-nav-active-bg: color-mix(in srgb, var(--wa-color-brand-fill-loud) 24%, transparent);
}
