---
layout: layouts/base.vto
title: Home
---
<header>
  <h1>{{ title }}</h1>

  <p>This is a boilerplate to create a Lume theme</p>

  <demo-pane
    data='{"label": "Click Me!", "variant": "brand", "size": "medium"}'
    template='<wa-button variant="brand" size="medium">Click Me!</wa-button>'
    imports='["button"]'>
  </demo-pane>

</header>
